<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خيارات الباحث عن عمل</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <main class="container">
        <div class="card">
            
            <img src="{{ url_for('static', filename='images (14).jpg') }}" class="card-img"alt="Icon" >
            <p>يمكن للباحثين عن عمل تحميل سيرهم الذاتية والعثور على الوظائف المناسبة.</p>
            <a href="{{ url_for('job_seekers') }}" class="btn">Sign Up</a>
        </div>
        <div class="card">
            <img src="{{ url_for('static', filename='images (15).jpg') }}" class="card-img" alt="Icon" >
            <p>زيارة الملف الشخصي</p>
            <a href="{{ url_for('login') }}" class="btn">Log In</a>
        </div>
    </main>
</body>
</html>